body {
  background: #27272A;
  color: #fdfcfc;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background: #202124;
  color: #fdfcfc;
  border: 1px solid #414144;
  border-radius: 6px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 10px 0;
  height: 36px;
  width: 95%;
}

.mainWrapper {
  display: flex;
}

.navigateWrapper {
  display: block;
  border: 1px solid #767676;
  width: 15%;

}

.navigateTitle {
  border-bottom: 1px solid #767676;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #c6c6c6;
}

.navigateTitleWrapper {
  padding-left: 21%;
}

.navigateTitleSpan {
  font-size: 12px;
}

.navigateItem {
  margin-top: 12px;
  padding-left: 20%;
}

.navigateItemWrapper {
  display: flex;
  align-items: center;
}

.navigateItemSpan {
  padding-left: 5%;
}

.header {
  display: flex;
  margin: 15px 0;
  align-items: center;
  justify-content: space-between;
}

.headerWrapper {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-around;
  padding-left: 43px;
}

.right {
  width: 9%;
}

.tableWrapper {
  border-bottom: 1px solid #767676;
  width: 85%;
  background-color: #202124;
}

.tableTitleWrapper {
  border: 1px solid #767676;
  width: 100%;
  display: flex;
 
}

.tableTitle {
  border-right: 1px solid #767676;
  height:16px;
  padding:10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.columnLevel {
  text-align: left;
  /* width: 10%; */
}

.columnTitle {
  width: 45%;
  text-align: left;
}

.columnData {
  width: 10%;
  text-align: left;
}

.caption {
  text-align: left;
  border-bottom: 1px solid #767676;
  height: 50px;
}

.tableRow {
  height: 50px;
  padding-top: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  color: #FFFFFF;
}

table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid #767676;
}

th {
  border-bottom: 1px solid #767676;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  color: #A1A1AA;
}

.countLine {
  position: relative;
}

.countLine::before {
  content: '';
  background-image: url(../src/icons/Line\ 23.svg);
  width: 22px;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
}

.verticalLine {
  width: 0;
  border: 1px solid #a3a2a2;
  position: absolute;
  left: 25px
}

.verticalLineChild {
  width: 0;
  border: 1px solid #a3a2a2;
  position: absolute;
  /* left: 50px */
}

.levelWrapper {
  position: relative;
}